html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Python-Pedia's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

p
{
  margin: 0 0 10px;
}

.text-center
{
    text-align: center;
}

#heading
{
    background-color: #29dcb2;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 0 3px #333;
    margin: 0px;
    color: #fff;
    overflow: hidden;
}

#heading h1
{
    font-weight: normal;
    font-size: 42px;
    margin: 0px;
    margin-top: 4px;
}

#heading h4
{
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 3px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

#heading-logo
{
    width: 20%;
    float: left;
}

#heading-content
{
    width: 60%;
    float: left;
}

#heading-social
{
    margin-top: 25px;
    width: 20%;
    float: left;
}

.social-share
{
    margin-top: 20px;
}

#heading a
{
    color: #fff;
}

#heading a:hover
{
    color: green;
}

.python-logo
{
    background: white;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 85px;
    height: 85px;
    position: relative;
    margin: 0 auto;
    border-radius: 100px;
    border: solid 5px white;
    animation: play 1.5s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.python-logo:before
{
    background: white;
    content: "";
    width: 120px;
    height: 50px;
    position: absolute;
    top: 13px;
    right: 16px;
    border-radius: 100px;
    border: solid 15px white;
    z-index: 99998;
    transform: rotate(45deg);
    transform-origin: bottom;
}

.python-logo:after
{
    background: #29dcb2;
    background-size: 100% 100%;
    content: url("../img/python-logo.png");
    line-height: 105px;
    color: white;
    font-size: 40px;
    font-family: 'Open Sans', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    border-radius: 150px;
    z-index: 99999 !important;
    margin-left: -20px;
}

@keyframes play
{
  0% {
    transform: scale(1); }

  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2); }

  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2); }

  30% {
    transform: scale(1.1); }

  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2); }

  80% {
    transform: scale(1); }
}


#python-apps
{
    margin-top: 95px;
}

#python-apps .fa
{
    color: #29dcb2;
}

.application
{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    border-bottom:1px solid #29dcb2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:40px;
    -webkit-transition-duration:.4s;
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease
}

.application .application-header
{
    width:100%;
    padding:5px 0 5px 0;
    background-color:#29dcb2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-transition-duration:.4s;
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
}

.application .application-header h3
{
    color:#fff;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-weight: 500;
}

.application .application-content
{
    color: #333;
    padding:15px 15px;
    border-left:1px solid #29dcb2;
    border-right: 1px solid #29dcb2;
    border-bottom-right-radius:40px;
    text-align: justify;
    -webkit-transition-duration:.4s;
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease
}

.application .application-content .application-content-text
{
    padding-top: 8px;
}

.application .application-content i.fa
{
    -webkit-transition-duration:.4s;
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease
}

.application .application-content p
{
    -webkit-transition-duration:.4s;
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease
}

.application a
{
    text-decoration: none;
}

.application:hover
{
    box-shadow: 0 0 10px #333;
}

.application:hover .application-header
{
    background-color:#21caa3
}

.application:hover .application-content
{
    background-color:#29dcb2
}

.application:hover .application-content i.fa
{
    color:#f3f3f3;
    text-shadow:1px 1px 1px #1eb491,
    2px 2px 1px #1eb491,
    3px 3px 1px #1eb491,
    4px 4px 1px #1eb491,
    5px 5px 1px #1eb491,
    6px 6px 1px #1eb491,
    7px 7px 1px #1eb491,
    8px 8px 1px #1eb491,
    9px 9px 1px #1eb491,
    10px 10px 1px #1eb491,
    11px 11px 1px #1eb491,
    12px 12px 1px #1eb491,
    13px 13px 1px #1eb491,
    14px 14px 1px #1eb491,
    15px 15px 1px #1eb491,
    16px 16px 1px #1eb491,
    17px 17px 1px #1eb491,
    18px 18px 1px #1eb491,
    19px 19px 1px #1eb491,
    20px 20px 1px #1eb491,
    21px 21px 1px #1eb491,
    22px 22px 1px #1eb491,
    23px 23px 1px #1eb491,
    24px 24px 1px #1eb491,
    25px 25px 1px #1eb491,
    0px 0 1px #000
}

.application:hover .application-content p
{
    color:#f3f3f3
}

footer
{
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 15px 0;
  background-color: #fff
}

footer a
{
    color: #aaa;
    font-weight: 900;
}

footer a:hover
{
    color: #333;
    text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
    #heading-logo
    {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    #heading-content
    {
        width: 100%;
    }

    #heading-social
    {
        width: 100%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
